 
    
.form-control{margin-left:190px; margin-bottom:0}
.detail{margin-left:170px;
}

 .glasses{
     margin-right:3px
 }
  

 
 hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.xo:hover{
    background-color: #545e81;
}
.xo{
    background-Color:#242e4c;
    cursor: pointer;
    border-radius: 8px;
}


.backgroundimg{
    
    background-image: linear-gradient(135deg,rgba(0,77,159,.5) 45%,rgba(255,0,104,.5) 100%),url('./components/Images/learning.jpg');
    background-size: cover;
     
}
 
.title{
    font-family: 'Epilogue', sans-serif;
}

.ox:hover {
    background-color: green;
}
.search-container{
    text-align:center;
        padding-top:10px;
  }

  .a :hover{
      color: beige;
      cursor: pointer;
  }
   
  
   .input-search{
       margin-right:10px
   }
  
 .navy{
    top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      position: fixed;
       padding-left: 25px;
      padding-right: 25px;
      
   
   }
   .detail{
       margin-left:0
   }

 
   #inputID::placeholder {
    color: #260275;
    opacity: 1;
    font-size: 13px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 200;

}
   
 

   .search-stock{
    padding-top:93px;

   }
    .ptagg{
        margin-bottom:40px
    }
.l{
    text-align: center;
     
 }
 .how-it-works{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

 }
 .motiv{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

 }
.j{
    display:flex;
    justify-content:center;
}
.winnermenu{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #9d9d9d
 
}
 

 

.header1{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: #9d9d9d
}
.header1:hover{
color:white;
cursor: pointer;
 }


.j2{
    margin-top:95px;
        margin-bottom:20px;

    display:flex;
    justify-content:center;
}
   .im{
        
       border-radius:50%;
 
        width:110px;
       height:106px;
    }

    .sign-in-text{
        text-align:center;
        font-size:24px;
        font-weight:300;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height:1.5
    }
    .im2{
        
        border-radius:50%;
  
         width:65px;
        height:65px;
     }
   .node{
       margin-top:20px;
       font-size:63px;
       font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
       color:white;
       line-height: 1.1;
       font-weight: 500;
   }
.logo{
    margin-left:3px
}
   .info{
    text-align:center;
        padding-top:93px;
         
      
   }


    
   .button-one{
       background-color:green
   }
.buttn{
    margin-right:6px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border:1px solid transparent;
    cursor: pointer;
    background-color:white
}

.buttn2{
    margin-right:3px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    /* border-color: #845ac7; */
    cursor: pointer;
    /* background-color:#845ac7; */
    color:white;
}
.signing-in{
     margin-top:25px;
}
 
  
.buttn:hover{
    background-color:#ccc
}

.img{
    border-radius:50%;
    display: flex;
    justify-content: center;

}
.construction{
    font-family: 'Poppins', sans-serif;    
    color:white
}
.div-tag{
    text-align: center;

    padding-bottom:15px
}

.div-tag1{
    padding-bottom:15px;
    text-align: center;

}
.im22{
    border-radius:50%;
 }
.p-tag{
    margin-top:15px;
 }
 .imgl{
     width:55px
 }
   .description{
    font-size: 21px;
    font-weight: 200;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#d9ccee;
    max-width:75%;
    margin: 1em auto 2em;
    line-height: 1.42857143;
   }
 
 /* .search-tool:focus,
.searchticker{
    outline: none;
 
 } */

 .searchticker{
     cursor: pointer;
     background-color:#a332c8;
     color:white;
     

 }
 

 .search-tool[type="text"]
{

      padding:0
 
}

.search-tool{
    padding:0;
     height:35px;
 
}
/* .div-info{
    padding: 20px 0;

} */

/* .div-info2{
    padding: 35px 0;

} */
.searchlink{
      height:25px;
 }

 .description{
    font-size: 21px;
    font-weight: 200;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
    line-height: 1.42857143;
 }
 
 
 
 .axiosRequestImages{
     display:flex;
     justify-content:center;
     margin-left:46.5%
 }

 .onHoverMenu:hover{
     color:white
     
 }
 

 

  